body {
  background: #181818;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 1.4em 8em; 
}

@media (max-width: 1200px) {
  .content {
    padding: 1.4em 1.4em;
  }
}

@media (max-width: 820px) {
  .content {
    padding: 1.4em 1em; 
  }
}
